<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaWebsite</display-name>
  <servlet>
    <servlet-name>CardTokenTest</servlet-name>
    <servlet-class>token.CreateCardToken</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentTokenTest</servlet-name>
    <servlet-class>token.CreatePaymentToken</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateCustomerTest</servlet-name>
    <servlet-class>customer.CreateCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerTest</servlet-name>
    <servlet-class>customer.UpdateCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCustomerTest</servlet-name>
    <servlet-class>customer.GetCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCustomerListTest</servlet-name>
    <servlet-class>customer.GetCustomerList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCustomerTest</servlet-name>
    <servlet-class>customer.DeleteCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateCardTest</servlet-name>
    <servlet-class>card.CreateCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCardTest</servlet-name>
    <servlet-class>card.UpdateCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCardTest</servlet-name>
    <servlet-class>card.GetCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCardListTest</servlet-name>
    <servlet-class>card.GetCardList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCardTest</servlet-name>
    <servlet-class>card.DeleteCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCardProviderTest</servlet-name>
    <servlet-class>paymentprovider.GetCardProvider</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCardProviderListTest</servlet-name>
    <servlet-class>paymentprovider.GetCardProviderList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChargeWithFullCardTest</servlet-name>
    <servlet-class>charges.ChargeWithFullCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChargeWithCardIdTest</servlet-name>
    <servlet-class>charges.ChargeWithCardId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChargeWithCardTokenTest</servlet-name>
    <servlet-class>charges.ChargeWithCardToken</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChargeWithDefaultCardTest</servlet-name>
    <servlet-class>charges.ChargeWithDefaultCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CaptureCardChargeTest</servlet-name>
    <servlet-class>charges.CaptureCardCharge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RefundCardChargeTest</servlet-name>
    <servlet-class>charges.RefundCardCharge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCardChargeTest</servlet-name>
    <servlet-class>charges.UpdateCardCharge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InvalidCard</servlet-name>
    <servlet-class>errorResponse.InvalidCard</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CardTokenTest</servlet-name>
    <url-pattern>/CreateCardToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentTokenTest</servlet-name>
    <url-pattern>/CreatePaymentToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCustomerTest</servlet-name>
    <url-pattern>/CreateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerTest</servlet-name>
    <url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCustomerTest</servlet-name>
    <url-pattern>/GetCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCustomerListTest</servlet-name>
    <url-pattern>/GetCustomerListTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerTest</servlet-name>
    <url-pattern>/DeleteCustomerTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCardTest</servlet-name>
    <url-pattern>/CreateCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCardTest</servlet-name>
    <url-pattern>/UpdateCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCardTest</servlet-name>
    <url-pattern>/GetCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCardListTest</servlet-name>
    <url-pattern>/GetCardList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCardTest</servlet-name>
    <url-pattern>/DeleteCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCardProviderTest</servlet-name>
    <url-pattern>/GetCardProviderTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCardProviderListTest</servlet-name>
    <url-pattern>/GetCardProviderListTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChargeWithFullCardTest</servlet-name>
    <url-pattern>/ChargeWithFullCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChargeWithCardIdTest</servlet-name>
    <url-pattern>/ChargeWithCardId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChargeWithCardTokenTest</servlet-name>
    <url-pattern>/ChargeWithCardToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChargeWithDefaultCardTest</servlet-name>
    <url-pattern>/ChargeWithDefaultCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaptureCardChargeTest</servlet-name>
    <url-pattern>/CaptureCardCharge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefundCardChargeTest</servlet-name>
    <url-pattern>/RefundCardChargeTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCardChargeTest</servlet-name>
    <url-pattern>/UpdateCardChargeTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvalidCard</servlet-name>
    <url-pattern>/InvalidCard</url-pattern>
  </servlet-mapping>
</web-app>